[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dead = "~=1.3"
pyupgrade = "~=2.7"
yesqa = "~=1.2"
autoflake = "b330072a26bb13aea8843f8083cee5332d71f78f"
seed-isort-config = "~=2.2"
isort = "~=5.3"
black = "19.10b0"
add-trailing-comma = "~=2.0"
pre-commit = "~=2.6"
blacken-docs = "~=1.7"
flake8 = "~=3.8"
cohesion = "~=1.0"
darglint = "~=1.5"
dlint = "~=0.1"
flake8-broken-line = "~=0.2"
flake8-bugbear = "~=20.1"
flake8-builtins = "~=1.5"
flake8-cognitive-complexity = "~=0.1"
flake8-comprehensions = "~=3.2"
flake8-docstrings = "~=1.5"
flake8-expression-complexit = "~=0.0"
flake8-mutable = "~=1.2"
flake8-pie = "~=0.5"
flake8-rst-docstrings = "~=0.0"
flake8-spellcheck = "~=0.17"
flake8-use-fstring = "~=1.1"
flake8-variables-names = "~=0.0"
flakehell = "~=0.5"
pep8-naming = "~=0.11"

[packages]

[requires]
python_version = "3.8"
